* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: -8em;
}
.vidsec {
  /* position: relative; */
}
.mobile-vid {
  display: none;
}
#logo {
  height: 45px;
  width: 45px;
}

header {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  
}

nav ul {
  display: flex;
  gap: 2em;
  float: right;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: #000;
  font-size: 1.1em;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ff014f;
}


.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
    .desktop-vid {
        display: none;
    }

    .mobile-vid {
        display: block;
    }
}